##**Pandas is considered the golden standard when it comes to Data Cleansing. Pandas is built on top of the Numpy which provides the support for Multidimensional arrays. Pandas can be a plus when you add them to your Data Science skills. In pandas, you can do  big tasks in a short time using  simple Pandas functions.**

##**Pandas is a lightning-fast tool that makes it easy-peasy to perform large tasks. It includes: Data cleansing, Filling missing values, Data normalization, Statistical analysis, and more.**

# **1.Read the CSV or Excel file**

In [2]:
import pandas as pd

In [169]:
from google.colab import drive
drive.mount('/content/drive')
# Reading datasets by using read_csv from pandas package
path="/content/drive/MyDrive/Python Course/FIFA21.xlsx" 
fifa=pd.read_excel(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Get the First five rows of the Dataset

To access the first five rows of the dataset,we simply use the function **head()** and it will return by default the first five rows. Inside the head, you can also fix the limit of rows to want to access. e.g head(20) you get the specific no of rows

In [22]:
fifa.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,36+3,40+3,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3

#**2. Getting information about your Dataframe**

The **info()** function gives information about the DataFrame. The information contains the no of columns, column type(numerical or categorical, column data types, memory usage, range index, and the number of cells in each column which are (non-null values).

In [183]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16155 entries, 0 to 16154
Columns: 106 entries, sofifa_id to rb
dtypes: datetime64[ns](2), float64(18), int64(44), object(42)
memory usage: 13.1+ MB

#**3. Get all the columns of the Dataset**

If you are dealing with a big dataset having like 30+ columns then it's hard to see all the columns.We use **df.columns** In order to print all the columns of the given dataset.

In [23]:
fifa.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club_name',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=106)

#**4. Drop Columns**

In [25]:
fifa.drop(['sofifa_id','player_url','dob'],axis=1)
#or
fifa.drop(columns=['sofifa_id','player_url','dob'])

,short_name,long_name,age,height_cm,weight_kg,nationality,club_name,league_name,league_rank,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,L. Messi,Lionel Andrés Messi Cuccittini,27,169,67,Argentina,FC Barcelona,Spain Primera Division,1.0,93,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,185,80,Portugal,Real Madrid,Spain Primera Division,1.0,92,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,A. Robben,Arjen Robben,30,180,80,Netherlands,FC Bayern München,German 1. Bundesliga,1.0,90,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,Z. Ibrahimović,Zlatan Ibrahimović,32,195,95,Sweden,Paris Saint-Germain,French Ligue 1,1.0,90,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,M. Neuer,Manuel Neuer,28,193,92,Germany,FC Bayern München,German 1. Bundesliga,1.0,90,...,36+3,40+3,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16150,E. Redman,Ellis Redman,17,187,81,Wales,Newport County,English League Two,4.0,41,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
16151,A. Collins,Aaron Collins,17,178,57,Wales,Newport County,English League Two,4.0,41,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
16152,P. Żemło,Piotr Żemło,18,190,76,Poland,Wisła Kraków,Polish T-Mobile Ekstraklasa,1.0,40,...,48+0,46+0,46+0,46+0,48+0,51+,53+,53+,53+,51+
16153,T. Davies,Tom Davies,22,180,70,England,Fleetwood Town,English League One,3.0,40,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
16154,P. Tisdale,Paul Tisdale,41,175,72,Malta,Exeter City,English League Two,4.0,40,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

#**5. Length of the DataFrame**

Using **len(df) or df.shape[0]** To show the length of the Dataframe in the dataset and it will return the total no of rows.

In [26]:
len(fifa)

16155

#**6. df. query**

I will use the ‘Value’ and ‘Wage’ columns for this example. It will return the rows only where the ‘ ‘lwb’ is bigger than 'ldm'.

In [27]:
fifa.query('lwb>ldm')

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
12,173731,https://sofifa.com/player/173731/gareth-bale/1...,G. Bale,Gareth Frank Bale,24,1989-07-16,183,74,Wales,Real Madrid,...,76+2,75+2,75+2,75+2,76+2,74+2,70+2,70+2,70+2,74+2
14,121939,https://sofifa.com/player/121939/philipp-lahm/...,P. Lahm,Philipp Lahm,30,1983-11-11,170,66,Germany,FC Bayern München,...,88+,85+2,85+2,85+2,88+,85+2,81+2,81+2,81+2,85+2
15,155862,https://sofifa.com/player/155862/sergio-ramos-...,Sergio Ramos,Sergio Ramos García,28,1986-03-30,183,75,Spain,Real Madrid,...,81+2,80+2,80+2,80+2,81+2,84+2,85+2,85+2,85+2,84+2
18,177003,https://sofifa.com/player/177003/luka-modric/1...,L. Modrić,Luka Modrić,28,1985-09-09,174,65,Croatia,Real Madrid,...,81+2,80+2,80+2,80+2,81+2,76+2,72+2,72+2,72+2,76+2
20,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Júnior,22,1992-02-05,175,64,Brazil,FC Barcelona,...,61+3,59+3,59+3,59+3,61+3,55+3,45+3,45+3,45+3,55+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16144,194372,https://sofifa.com/player/194372/mahmut-ertugr...,M. Taşkıran,Mahmut Ertuğrul Taşkıran,24,1989-11-05,191,83,Turkey,Sivasspor,...,26+0,25+0,25+0,25+0,26+0,25+0,26+0,26+0,26+0,25+0
16149,214725,https://sofifa.com/player/214725/sam-ramsbotto...,S. Ramsbottom,Sam Ramsbottom,18,1996-04-03,196,80,England,Tranmere Rovers,...,28+0,27+0,27+0,27+0,28+0,27+0,28+0,28+0,28+0,27+0
16151,225509,https://sofifa.com/player/225509/aaron-collins...,A. Collins,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
16152,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,48+0,46+0,46+0,46+0,48+0,51+,53+,53+,53+,51+
16153,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0

#**7. df.iloc( )**

This function takes parameters of the rows and column indices and returns you the subset of the DataFrame. Here we are taking the first 15 rows and index 3–10th columns.

In [28]:
fifa.iloc[:15,3:10]

,long_name,age,dob,height_cm,weight_kg,nationality,club_name
0,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona
1,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid
2,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München
3,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain
4,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München
5,Luis Alberto Suárez Díaz,27,1987-01-24,181,81,Uruguay,FC Barcelona
6,Andrés Iniesta Luján,30,1984-05-11,170,65,Spain,FC Barcelona
7,Eden Hazard,23,1991-01-07,173,74,Belgium,Chelsea
8,Robin van Persie,30,1983-08-06,187,71,Netherlands,Manchester United
9,Bastian Schweinsteiger,29,1984-08-01,183,79,Germany,FC Bayern München
10,Franck Bilal Ribéry,31,1983-04-07,170,72,France,FC Bayern München
11,Radamel Falcao García Zárate,28,1986-02-10,177,72,Colombia,Manchester United
12,Gareth Frank Bale,24,1989-07-16,183,74,Wales,Real Madrid
13,Robert Lewandowski,25,1988-08-21,184,78,Poland,FC Bayern München
14,Philipp Lahm,30,1983-11-11,170,66,Germany,FC Bayern München

#**8. df.loc()**

This function does almost the same as df.iloc(). Here we can specify exactly which row index we want and also give the name of the columns.

In [30]:
fifa.loc[[15,3,5,8,9,0],['long_name','club_name','age','nationality']]

                         long_name            club_name  age  nationality
15             Sergio Ramos García          Real Madrid   28        Spain
3               Zlatan Ibrahimović  Paris Saint-Germain   32       Sweden
5         Luis Alberto Suárez Díaz         FC Barcelona   27      Uruguay
8                 Robin van Persie    Manchester United   30  Netherlands
9           Bastian Schweinsteiger    FC Bayern München   29      Germany
0   Lionel Andrés Messi Cuccittini         FC Barcelona   27    Argentina

#**9. Checking the Datatype of the Dataset**

To understand the nature of your data and the data type of each column is vital for the data wrangling to perform relevant operations rapidly.

**df.dtypes**

In [31]:
fifa.dtypes

sofifa_id      int64
player_url    object
short_name    object
long_name     object
age            int64
               ...
lb            object
lcb           object
cb            object
rcb           object
rb            object
Length: 106, dtype: object

#**10. Descriptive Statistics**

To apply the describe( ) function it will give the summary or Descriptive statistics of your dataset. This function will only work if the data is in numeric form. For categorical data, the describe ( ) function only counts the values in the dataset.

In [35]:
fifa.describe()

,sofifa_id,age,height_cm,weight_kg,league_rank,overall,potential,value_eur,wage_eur,international_reputation,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
count,16155.000000,16155.000000,16155.000000,16155.000000,15916.000000,16155.000000,16155.000000,1.615500e+04,16155.000000,16155.000000,...,16155.000000,0.0,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000
mean,189284.184525,24.776230,181.083627,75.474342,1.378424,63.830393,68.350108,1.060882e+06,13056.453110,1.122501,...,49.648344,NaN,45.009037,47.656639,45.885918,15.869514,15.511668,15.354875,15.504735,15.998514
std,39749.261554,4.625321,6.618974,6.891796,0.736796,7.169896,6.580610,2.819128e+06,23488.182571,0.396263,...,14.552244,NaN,17.915206,18.743105,18.145497,17.576799,16.414173,16.010498,16.585081,17.983209
min,2.000000,16.000000,155.000000,50.000000,1.000000,40.000000,40.000000,0.000000e+00,0.000000,1.000000,...,20.000000,NaN,20.000000,20.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,178042.500000,21.000000,176.000000,70.000000,1.000000,59.000000,64.000000,1.200000e+05,2000.000000,1.000000,...,39.000000,NaN,25.000000,25.000000,25.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,200841.000000,24.000000,181.000000,75.000000,1.000000,64.000000,68.000000,3.500000e+05,5000.000000,1.000000,...,50.000000,NaN,46.000000,52.000000,49.000000,11.000000,11.000000,11.000000,10.000000,10.000000
75%,214346.000000,28.000000,186.000000,80.000000,2.000000,68.000000,73.000000,8.250000e+05,10000.000000,1.000000,...,61.000000,NaN,61.000000,64.000000,62.000000,13.000000,14.000000,13.000000,13.000000,13.000000
max,225562.000000,44.000000,204.000000,110.000000,4.000000,93.000000,95.000000,1.005000e+08,550000.000000,5.000000,...,95.000000,NaN,90.000000,91.000000,95.000000,88.000000,87.000000,92.000000,90.000000,90.000000

#**11. Find the unique values**

This is very useful when we have categorical values. It is used to figure out the unique values from the categorical column of the dataset. Here we have applied it to the “Value” column of the dataset.

df.column.unique( )

In [40]:
fifa['value_eur'].unique()

array([100500000,  79000000,  54500000,  52500000,  63500000,  49500000,
        36000000,  40500000,  39000000,  33000000,  46500000,  44000000,
        24500000,  31500000,  29000000,  36500000,  35000000,  31000000,
        27000000,  35500000,  45500000,  40000000,  15500000,  28500000,
        21000000,  20000000,  23000000,  25500000,  26500000,  18000000,
        20500000,  19500000,  16500000,   6000000,  11500000,  14500000,
        17500000,  19000000,  13500000,  15000000,  18500000,  14000000,
         7000000,  12500000,  10500000,  10000000,   9000000,  17000000,
        13000000,  16000000,   3900000,   9500000,         0,  12000000,
         8000000,  11000000,   7500000,   1300000,   4900000,   8500000,
         6500000,   1200000,   4300000,   5500000,   5000000,   2500000,
          110000,   3000000,   4500000,   3400000,   3600000,   4100000,
         4400000,   2300000,    925000,   1900000,   1400000,   4700000,
         3800000,   3100000,   2200000,   2800000,   1600000,   3200000,
         4200000,   4600000,   2100000,    825000,   2400000,   2700000,
         2900000,   3300000,   3700000,   4000000,   3500000,   1500000,
         1000000,    850000,    550000,    375000,   2000000,   2600000,
         1100000,   1800000,    600000,     50000,    975000,   1700000,
          400000,    450000,    275000,    750000,    800000,    625000,
          950000,      1000,    250000,    475000,    725000,    700000,
          900000,    170000,    675000,    500000,    190000,    650000,
          100000,    150000,    300000,    425000,    575000,    525000,
          240000,    775000,    120000,    210000,     80000,    200000,
           70000,    220000,    350000,    325000,    230000,     90000,
          130000,      7000,    160000,    180000,     35000,    140000,
            5000,     60000,     25000,     40000,      2000,     20000,
           15000,     10000,     30000,     45000,      6000])

#**12. Check unique values in column**

This function will return the total no of unique values in the specific column of the dataset. if you want to know how many different clubs are in the dataset.

In [49]:
fifa['club_name'].nunique()

577

#**13. Sampling from the dataset**

When we have an extremely large dataset then we can take a small representative sample from the dataset. I am going to take 35% data as a sample from the dataset. It saves time, boosts the performance of the model, and improves visualization.

In [46]:
fifa.sample(frac=0.35)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
4776,211321,https://sofifa.com/player/211321/moussa-konate...,M. Konaté,Pape Moussa Konaté,21,1993-04-03,183,78,Senegal,FC Sion,...,49+0,46+0,46+0,46+0,49+0,46+0,43+0,43+0,43+0,46+0
6395,225538,https://sofifa.com/player/225538/christian-pen...,C. Peñaranda,Christián Peñaranda,18,1996-03-12,162,65,Chile,Deportes Iquique,...,59+0,57+0,57+0,57+0,59+0,56+0,53+0,53+0,53+0,56+0
11884,216416,https://sofifa.com/player/216416/jan-gyamerah/...,J. Gyamerah,Jan Gyamerah,19,1995-06-18,184,76,Germany,VfL Bochum 1848,...,59+0,57+0,57+0,57+0,59+0,59+0,57+0,57+0,57+0,59+0
903,202685,https://sofifa.com/player/202685/simone-zaza/1...,S. Zaza,Simone Zaza,23,1991-06-25,187,82,Italy,Sassuolo,...,52+0,52+0,52+0,52+0,52+0,49+0,48+0,48+0,48+0,49+0
7067,155289,https://sofifa.com/player/155289/krzysztof-kot...,K. Kotorowski,Krzysztof Kotorowski,37,1976-09-12,187,86,Poland,Lech Poznań,...,29+0,32+0,32+0,32+0,29+0,29+0,30+0,30+0,30+0,29+0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10161,215818,https://sofifa.com/player/215818/emerson-hyndm...,E. Hyndman,Emerson Hyndman,18,1996-04-09,170,61,United States,Fulham,...,60+0,58+0,58+0,58+0,60+0,56+0,52+0,52+0,52+0,56+0
12575,209314,https://sofifa.com/player/209314/jim-fenlon/15...,J. Fenlon,Jim Fenlon,20,1994-03-03,181,76,England,Ross County FC,...,59+0,58+0,58+0,58+0,59+0,58+0,57+0,57+0,57+0,58+0
4482,142601,https://sofifa.com/player/142601/milovan-miros...,M. Mirošević,Milovan Petar Mirosevic Albornoz,34,1980-06-20,181,79,Chile,Unión Española,...,58+0,64+0,64+0,64+0,58+0,57+0,57+0,57+0,57+0,57+0
6187,161682,https://sofifa.com/player/161682/jesus-palacio...,J. Palacios,Jesús Alejandro Palacios Olague,31,1983-02-07,178,75,Mexico,Leones Negros de la UdeG,...,64+0,66+0,66+0,66+0,64+0,64+0,63+0,63+0,63+0,64+0
3788,156423,https://sofifa.com/player/156423/juan-carlos-m...,J. Medina,Juan Carlos Medina Alonso,30,1983-08-22,170,71,Mexico,Club Atlas,...,68+0,68+0,68+0,68+0,68+0,67+0,66+0,66+0,66+0,67+0

#**14. Null Values**

To check the Null values in your dataset, we can use the isnull().sum() to return the no of null values in each column.

In [50]:
fifa.isnull().sum()

sofifa_id     0
player_url    0
short_name    0
long_name     0
age           0
             ..
lb            0
lcb           0
cb            0
rcb           0
rb            0
Length: 106, dtype: int64

#**15. Lets see the count and the percentage of missing values in each column**

In [60]:
pd.DataFrame({'Count':fifa.isnull().sum()[fifa.isnull().sum()>0],'Percentage':(fifa.isnull().sum()[fifa.isnull().sum()>0]/fifa.shape[0])*100})

                      Count  Percentage
club_name               239    1.479418
league_name             239    1.479418
league_rank             239    1.479418
release_clause_eur    16155  100.000000
player_tags           14919   92.349118
team_position           239    1.479418
team_jersey_number      239    1.479418
loaned_from           15243   94.354689
joined                 1151    7.124729
contract_valid_until    239    1.479418
nation_position       15074   93.308573
nation_jersey_number  15074   93.308573
pace                   1775   10.987310
shooting               1775   10.987310
passing                1775   10.987310
dribbling              1775   10.987310
defending              1775   10.987310
physic                 1775   10.987310
gk_diving             14380   89.012690
gk_handling           14380   89.012690
gk_kicking            14380   89.012690
gk_reflexes           14380   89.012690
gk_speed              14380   89.012690
gk_positioning        14380   89.012690
player_traits          9556   59.151965
mentality_composure   16155  100.000000

#16. Rename the column name
**bold text**
We can rename any specific column from the dataset by using the **df. rename()** function. Here we change nationality to country.

In [57]:
fifa.rename(columns={'nationality':'country'})

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,country,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,36+3,40+3,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16150,220806,https://sofifa.com/player/220806/ellis-redman/...,E. Redman,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
16151,225509,https://sofifa.com/player/225509/aaron-collins...,A. Collins,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
16152,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,48+0,46+0,46+0,46+0,48+0,51+,53+,53+,53+,51+
16153,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
16154,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

16. Filling the Null values by central tendency (Mean, Mode, Median)

We can fill the null values with different approaches depending on the type of data we have. For categorical data, it is better to use Mode while for numerical values we will be using mean and median. Here we have filled the null values with mode for the categorical columns ‘club’ and ‘joined’.

categorical = [“Joined”, “Club”]

df[categorical]=df[categorical].fillna(df.mode().iloc[0])

In [74]:
categorical=['joined','club_name']
fifa[categorical]=fifa[categorical].fillna(fifa.mode().iloc[0])

#**17. Group By**

This is most popular function for data aggregation. we can group the data and find out useful information about the groups. Here I have grouped the data by Nationality and calculated the total ‘passing’ and 'dribbling for each Nationality

In [85]:
fifa.groupby(['nationality'])['passing','dribbling'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                   passing  dribbling
nationality
Albania             1733.0     1882.0
Algeria             2477.0     2643.0
Angola               305.0      341.0
Antigua & Barbuda    199.0      246.0
Argentina          45212.0    49679.0
...                    ...        ...
Uzbekistan           390.0      398.0
Venezuela           2755.0     2991.0
Wales               5578.0     6062.0
Zambia               222.0      263.0
Zimbabwe             625.0      764.0

[149 rows x 2 columns]

#**18. Correlation Matrix**

Find the relationship between two variables in the dataset we use the **corr ( )**. It shows the strength of the relationship between two numerical variables. To see clearly the strength of the relationship we can draw the Heatmap using seaborn (visualization library). Herewe will use the Pearson correlation method.

**df.corr(’pearson’)**

In [86]:
fifa.corr('pearson')

,sofifa_id,age,height_cm,weight_kg,league_rank,overall,potential,value_eur,wage_eur,international_reputation,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
sofifa_id,1.000000,-0.697896,-0.094996,-0.164712,-0.046543,-0.388496,-0.076603,-0.168085,-0.239751,-0.374139,...,-0.150305,NaN,-0.119975,-0.113933,-0.093604,-0.070842,-0.078050,-0.072206,-0.081404,-0.069984
age,-0.697896,1.000000,0.085429,0.211942,-0.045947,0.436976,-0.072417,0.123850,0.195714,0.277557,...,0.132347,NaN,0.158064,0.145385,0.122019,0.092458,0.101170,0.095343,0.107999,0.090986
height_cm,-0.094996,0.085429,1.000000,0.766291,0.037870,0.050819,0.014917,0.019091,0.029582,0.050119,...,-0.292724,NaN,0.037352,0.018252,0.003512,0.348764,0.346815,0.343080,0.346524,0.345892
weight_kg,-0.164712,0.211942,0.766291,1.000000,0.009887,0.123992,0.015527,0.043671,0.061731,0.084284,...,-0.227797,NaN,0.030988,0.012957,-0.004027,0.337191,0.335765,0.332982,0.336338,0.333946
league_rank,-0.046543,-0.045947,0.037870,0.009887,1.000000,-0.246777,-0.231447,-0.132561,-0.191666,-0.119929,...,-0.075520,NaN,-0.065619,-0.057351,-0.055491,-0.016840,-0.014785,-0.022322,-0.023042,-0.016740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
goalkeeping_diving,-0.070842,0.092458,0.348764,0.337191,-0.016840,-0.006846,-0.035506,0.013693,0.007759,0.008410,...,-0.534776,NaN,-0.382174,-0.414968,-0.396032,1.000000,0.965764,0.961639,0.965462,0.971391
goalkeeping_handling,-0.078050,0.101170,0.346815,0.335765,-0.014785,-0.001172,-0.033718,0.015733,0.009043,0.008512,...,-0.530044,NaN,-0.384996,-0.417145,-0.398667,0.965764,1.000000,0.960053,0.965065,0.965769
goalkeeping_kicking,-0.072206,0.095343,0.343080,0.332982,-0.022322,-0.006270,-0.037169,0.014575,0.008431,0.009023,...,-0.526553,NaN,-0.381214,-0.413647,-0.395181,0.961639,0.960053,1.000000,0.959941,0.962224
goalkeeping_positioning,-0.081404,0.107999,0.346524,0.336338,-0.023042,0.003398,-0.032625,0.016516,0.011687,0.010315,...,-0.530255,NaN,-0.379256,-0.412215,-0.393194,0.965462,0.965065,0.959941,1.000000,0.965825
goalkeeping_reflexes,-0.069984,0.090986,0.345892,0.333946,-0.016740,-0.007090,-0.034995,0.013963,0.007326,0.006593,...,-0.533815,NaN,-0.384001,-0.417155,-0.397885,0.971391,0.965769,0.962224,0.965825,1.000000

#**19. Binning Method**

We can divide the data into a certain range. The Binning method is used to normalize the data and make it smooth. We created five ranges for the given age column means dividing the age of people into five ranges.

pd.cut(df[‘Age’],5)

In [171]:
pd.cut(fifa['age'],4)

0          (23.0, 30.0]
1          (23.0, 30.0]
2          (23.0, 30.0]
3          (30.0, 37.0]
4          (23.0, 30.0]
              ...
16150    (15.972, 23.0]
16151    (15.972, 23.0]
16152    (15.972, 23.0]
16153    (15.972, 23.0]
16154      (37.0, 44.0]
Name: age, Length: 16155, dtype: category
Categories (4, interval[float64, right]): [(15.972, 23.0] < (23.0, 30.0] < (30.0, 37.0] <
                                           (37.0, 44.0]]

#20. Find the n largest and smallest Values
**bold text**
It gives you the data with the n number of largest values or smallest values from the given specific variables. We wanted to access the rows with the top 6 of the height column.

In [181]:
fifa.nlargest(10,'height_cm')
#or
fifa.sort_values('height_cm',ascending=False).head(10)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
11546,205539,https://sofifa.com/player/205539/jason-mooney/...,J. Mooney,Jason Mooney,25,1989-02-26,204,89,Northern Ireland,York City,...,31+0,34+0,34+0,34+0,31+0,30+0,35+0,35+0,35+0,30+0
11641,52489,https://sofifa.com/player/52489/tor-hogne-aaro...,T. Aarøy,Tor Hogne Aarøy,37,1977-03-20,204,98,Norway,Aalesunds FK,...,40+0,48+0,48+0,48+0,40+0,42+0,47+0,47+0,47+0,42+0
1346,192613,https://sofifa.com/player/192613/costel-pantil...,C. Pantilimon,Costel Fane Pantilimon,27,1987-02-01,203,96,Romania,Sunderland,...,32+0,37+0,37+0,37+0,32+0,32+0,35+0,35+0,35+0,32+0
410,199074,https://sofifa.com/player/199074/lacina-traore...,L. Traoré,Lacina Emeghara Traoré,24,1990-05-20,203,87,Ivory Coast,AS Monaco,...,50+0,54+0,54+0,54+0,50+0,50+0,50+0,50+0,50+0,50+0
13519,215408,https://sofifa.com/player/215408/aaron-chapman...,A. Chapman,Aaron Chapman,24,1990-05-29,203,92,England,Chesterfield,...,30+0,32+0,32+0,32+0,30+0,30+0,34+0,34+0,34+0,30+0
8274,201273,https://sofifa.com/player/201273/goran-blazevi...,G. Blažević,Goran Blažević,28,1986-06-07,201,94,Croatia,Torpedo Moscow,...,27+0,27+0,27+0,27+0,27+0,27+0,29+0,29+0,29+0,27+0
930,172203,https://sofifa.com/player/172203/fraser-forste...,F. Forster,Fraser Forster,26,1988-03-17,201,93,England,Southampton,...,29+0,33+0,33+0,33+0,29+0,30+0,35+0,35+0,35+0,30+0
11425,222228,https://sofifa.com/player/222228/adam-bedell/1...,A. Bedell,Adam Bedell,22,1991-12-01,201,92,United States,Columbus Crew SC,...,40+0,45+0,45+0,45+0,40+0,41+0,45+0,45+0,45+0,41+0
5577,198032,https://sofifa.com/player/198032/dan-burn/150002,D. Burn,Dan Burn,22,1992-05-09,201,87,England,Fulham,...,58+0,62+0,62+0,62+0,58+0,61+0,66+0,66+0,66+0,61+0
1045,51257,https://sofifa.com/player/51257/peter-crouch/1...,P. Crouch,Peter Crouch,33,1981-01-30,201,84,England,Stoke City,...,52+1,58+1,58+1,58+1,52+1,50+1,48+1,48+1,48+1,50+1

In [182]:
fifa.nsmallest(10,'height_cm')
#or
fifa.sort_values('height_cm',ascending=True).head(10)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
14099,209228,https://sofifa.com/player/209228/abdulaziz-ham...,A. Hamsal,Abdulaziz Mbarak Al Hamsal,27,1987-03-01,155,50,Saudi Arabia,Najran SC,...,57+0,54+0,54+0,54+0,57+0,56+0,48+0,48+0,48+0,56+0
4165,202184,https://sofifa.com/player/202184/joao-plata/15...,J. Plata,João Jimmy Plata Cotera,22,1992-03-01,157,61,Ecuador,Real Salt Lake,...,53+0,45+0,45+0,45+0,53+0,47+0,41+0,41+0,41+0,47+0
14545,209221,https://sofifa.com/player/209221/saleh-dowes/1...,S. Dowes,Saleh Dowes,32,1982-04-24,158,56,Saudi Arabia,Najran SC,...,54+0,55+0,55+0,55+0,54+0,53+0,52+0,52+0,52+0,53+0
3539,190629,https://sofifa.com/player/190629/daniel-villal...,D. Villalva,Daniel Alberto Villalva Barrios,21,1992-07-06,159,61,Argentina,Tiburones Rojos de Veracruz,...,52+0,49+0,49+0,49+0,52+0,47+0,38+0,38+0,38+0,47+0
3257,159818,https://sofifa.com/player/159818/elton-jose-xa...,Élton,Élton José Xavier Gomes,27,1986-07-04,159,59,Brazil,Al Fateh,...,55+0,52+0,52+0,52+0,55+0,46+0,36+0,36+0,36+0,46+0
5954,116024,https://sofifa.com/player/116024/christian-ber...,C. Bermúdez,Christian de Jesús Bermúdez Gutiérrez,27,1987-04-26,159,56,Mexico,Jaguares de Chiapas,...,52+0,49+0,49+0,49+0,52+0,44+0,36+0,36+0,36+0,44+0
14337,217824,https://sofifa.com/player/217824/jorge-caldero...,J. Calderón,Martín Manuel Calderón Sequera,20,1994-02-10,160,56,Mexico,Club León,...,42+0,40+0,40+0,40+0,42+0,37+0,34+0,34+0,34+0,37+0
1642,170719,https://sofifa.com/player/170719/diego-buonano...,D. Buonanotte,Diego Mario Buonanotte Rende,26,1988-04-19,160,53,Argentina,Pachuca,...,54+0,52+0,52+0,52+0,54+0,44+0,37+0,37+0,37+0,44+0
2576,214327,https://sofifa.com/player/214327/vladimir-hern...,V. Hernández,Vladimir Javier Hernández Rivero,25,1989-02-08,160,61,Colombia,Junior FC,...,57+0,50+0,50+0,50+0,57+0,49+0,40+0,40+0,40+0,49+0
12851,222970,https://sofifa.com/player/222970/erhun-oztumer...,E. Oztumer,Erhun Aksel Öztümer,23,1991-05-29,160,60,England,Peterborough United,...,47+0,47+0,47+0,47+0,47+0,42+0,33+0,33+0,33+0,42+0